@use "../../scss/utils/mixins" as mx;

.section {
  position: relative;

  > div {
    display: flex;
    align-items: start;
    justify-content: space-between;

    > div {
      flex: 1;
    }

    > button {
      width: 48px;
      height: 48px;

      @include mx.breakpoint(mobile) {
        width: 36px;
        height: 36px;
      }

      > svg {
        display: block;
        fill: transparent;
        stroke: white;

        @include mx.breakpoint(mobile) {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
