@use "../../scss/utils/mixins" as mx;
@use "../../scss/utils/variables" as var;
@use "../../scss/utils/functions" as *;

.profileImage {
  position: absolute;
  top: 170px;
  left: 231px;
  width: 96px;
  height: 96px;
  border-radius: 100%;
  border: 4px solid get-color("purple");
  object-fit: cover;

  &.isPages {
    position: relative;
    top: 0;
    left: 0;
    width: 104px;
    height: 104px;
    margin-bottom: 25px;
  }
}

.profileData {
  position: absolute;
  top: 282px;
  left: 201px;

  > .name {
    width: 160px;
    @include mx.font-size(18, 27);
    font-weight: 600;
    color: get-color("dark-grey");
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  > .email {
    width: 161px;
    @include mx.font-size(14, 21);
    font-weight: 400;
    color: get-color("grey");
    text-align: center;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.hasNoName {
      margin-top: 31px;
    }
  }

  &.isPages {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 56px;

    > .name {
      width: 237px;
      @include mx.font-size(32, 48);
      font-weight: 700;
      color: get-color("dark-grey");
    }

    > .email {
      width: 237px;
      @include mx.font-size(16, 24);
      width: 237px;
    }
  }
}

.imagePlaceholder {
  display: none;

  &.isPages {
    display: block;
    width: 104px;
    height: 104px;
    border-radius: 100%;
    background-color: get-color("very-light-grey");
    margin-bottom: 25px;
  }
}
